.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.jumbotron_modo_oscuro {
  background: url('../img/cover_back_modo_oscuro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.nav-nombre {
  display: flex;
  align-items: center;
  color:white;
  margin-top: 8px;
}

.image-container {
  display: flex; /* Muestra las imágenes en línea horizontalmente */
  align-items: center; /* Alinea las imágenes verticalmente en el centro */
  justify-content: space-between; /* Espacio uniforme entre las imágenes */
}

.image-container img {
  max-width: 300px; /* Ajusta el ancho máximo de las imágenes según tus preferencias */
  margin-right: 10px; /* Espacio entre las imágenes */
  border: 1px solid #00000036; /* Agrega un borde de 1 píxel de grosor de color negro (#000) */
  padding: 5px; /* Agrega un relleno alrededor de la imagen para espaciar el borde */
}

.image-container button {
  border: none; /* Elimina el borde predeterminado de los botones */
  background: none; /* Elimina el fondo predeterminado de los botones */
  cursor: pointer; /* Cambia el cursor a un puntero cuando pasas el mouse sobre los botones */
  padding: 0; /* Elimina el relleno predeterminado de los botones */
  outline: none; /* Elimina el contorno (enfoque) cuando haces clic en los botones */
}

/* Estilos adicionales para personalizar los botones a tu gusto */
.image-container button img {
  width: 300px; /* Establece el ancho deseado para todas las imágenes dentro de los botones */
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes al 100% del contenedor (para mantener la relación de aspecto) */
  display: block; /* Evita problemas de alineación */
}

.comentarios-lista {
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
}

.comentario {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comentario h3 {
  margin-top: 0;
}

.comentario p {
  margin-bottom: 5px;
}

* {
  font-family:'Arial';
}

/* Estilos para el modo oscuro */

.dark-mode {
  background-color: #333333;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .card {
  background-color: #444;
  color: #fff;
}

.dark-mode .btn-group-toggle .btn-light {
  background-color: #444;
  color: #fff;
}

.dark-mode .list-group-item {
  background-color: #444;
  color: #fff;
}


.dark-mode .btn-primary {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

body.dark-mode {
  background-color: #333;
}

/* Cambia el color de fondo de los botones */
.dark-mode .btn {
  background-color: #555; /* Puedes ajustar este color */
  color: #fff; /* Cambia el color del texto de los botones a blanco */
}

/* Cambia el color de fondo de los elementos de formulario */
.dark-mode input, .dark-mode select, .dark-mode textarea {
  background-color: #222; /* Puedes ajustar este color */
  color: #fff; /* Cambia el color del texto a blanco */
}

/* Cambia el color de fondo del pie de página */
.dark-mode footer {
  background-color: #333; /* Puedes ajustar este color */
  color: #fff; /* Cambia el color del texto del pie de página a blanco */
}



.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Esto alinea verticalmente los elementos si es necesario */
}

.product-title span {
  flex-grow: 1; /* Esto hace que el nombre del producto ocupe todo el espacio restante */
  margin-right: 10px; /* Añade un espacio entre el nombre y el botón (ajusta según tu preferencia) */
}

@media (max-width: 768px) {
  .filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .filter-buttons button {
    margin-bottom: 10px; /* Espacio entre botones */
  }
}

/*RESPONSIVE PARA PRODUCT INFO*/
.product-title {
  font-size: 24px; /* Ajusta el tamaño de fuente del título según tu preferencia */
  text-align: center; /* Centra el título en dispositivos móviles */
}

.product-details {
  padding: 10px; /* Agrega espaciado alrededor de los detalles del producto */
}

.btn-right {
  display: block; /* Hace que el botón se muestre como un bloque en lugar de inline */
  margin-top: 10px; /* Agrega espacio superior al botón */
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas en dispositivos móviles */
  justify-content: center; /* Centra las imágenes horizontalmente */
}

.image-container img {
  max-width: 100%; /* Asegura que las imágenes no sean más anchas que su contenedor */
  height: auto; /* Mantiene la relación de aspecto de las imágenes */
}

.responsive-form {
  max-width: 300px; /* Limita el ancho del formulario en dispositivos móviles */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 10px; /* Añade un espacio alrededor del formulario */
}

textarea {
  width: 100%; /* Asegura que el campo de texto se extienda al ancho del contenedor */
  padding: 5px; /* Añade espaciado alrededor del campo de texto */
  box-sizing: border-box; /* Incluye el relleno en el ancho total del campo de texto */
}

select {
  width: 100%; /* Asegura que el menú desplegable se extienda al ancho del contenedor */
  padding: 5px; /* Añade espaciado alrededor del menú desplegable */
  box-sizing: border-box; /* Incluye el relleno en el ancho total del menú desplegable */
}

input[type="submit"] {
  display: block; /* Muestra el botón de envío como un bloque en lugar de en línea */
  width: 100%; /* Asegura que el botón se extienda al ancho del contenedor */
  margin-top: 10px; /* Agrega espacio superior al botón */
}

#userProfileForm {
  max-width: 800px;
  margin: 30px auto;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

#userProfileForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

#userProfileForm input[type="text"],
#userProfileForm input[type="email"],
#userProfileForm input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}

#userProfileForm input[type="text"]:focus,
#userProfileForm input[type="email"]:focus,
#userProfileForm input[type="tel"]:focus {
  border-color: #007bff;
}

#userProfileForm button {
  padding: 12px 25px;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}



#displayedProfileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 25px;
}



